#main {
    margin-bottom: 30px;
}

.main_details {
    display: flex;
}

.main_details_left {
    width: 49%;
    padding-right: 1%;
}

.main_details_right {
    width: 49%;
    padding-left: 1%;
}

.contents {
    background-image: -webkit-linear-gradient(135deg, #e5d7b7 0%, #fff2d5 20%, #f1e3c2 60%, #dcca9d 90%, #a79362 100%);
    background-image: linear-gradient(135deg, #e5d7b7 0%, #fff2d5 20%, #f1e3c2 60%, #dcca9d 90%, #a79362 100%);
    box-shadow: 2px 2px 5px #333;
    border-radius: 30px;
}

.contents_departure {
    background-image: -webkit-linear-gradient(135deg, #e5d7b7 0%, #fff2d5 20%, #f1e3c2 60%, #dcca9d 90%, #a79362 100%);
    background-image: linear-gradient(135deg, #e5d7b7 0%, #fff2d5 20%, #f1e3c2 60%, #dcca9d 90%, #a79362 100%);
    box-shadow: 2px 2px 5px #333;
    border-radius: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
}



.husen_m {
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 5%;
    width: 75%;
    text-align: center;
    font-size: 35px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #000;/*文字色*/
    background-image: -webkit-linear-gradient(left, #5ade00 0%, #80ff2a 50%, #67ff00 100%);
    background-image: linear-gradient(to right, #5ade00 0%, #80ff2a 50%, #67ff00 100%);
    box-shadow: 7px 3px 6px #333;
    opacity: 0;
}

.husen_m.js-active {
    opacity: 1;
    border-left: solid 60px #4cbd00;
    transition: all 2.5s ease;
}

.husen_m::first-letter {
    color: #da002f;
}



.husen_m_half {
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 5%;
    width: 70%;
    text-align: center;
    font-size: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #000;/*文字色*/
    background-image: -webkit-linear-gradient(left, #5ade00 0%, #80ff2a 50%, #67ff00 100%);
    background-image: linear-gradient(to right, #5ade00 0%, #80ff2a 50%, #67ff00 100%);
    box-shadow: 6px 3px 5px #333;
    opacity: 0;
}

.husen_m_half.js-active {
    opacity: 1;
    border-left: solid 40px #4cbd00;
    transition: all 2.0s ease;
}

.husen_m_half::first-letter {
    color: #da002f;
}



.topics {
    padding: 0.25em 0.5em;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.value {
    padding: 0.25em 0.5em;
    text-align: center;
    font-size: 15px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.goto_quest {
    margin-left: 30%;
    margin-right: 30%;
    padding: 1em 1em;
    text-align: center;
    background-image: -webkit-linear-gradient(left, #aa00ad 0%, #fb00ff 50%, #c600c9 100%);
    background-image: linear-gradient(to right, #aa00ad 0%, #fb00ff 50%, #c600c9 100%);
    border-left: solid 40px #8d0090;
    box-shadow: 6px 3px 5px #333;
}

.que {
    text-decoration: none;
    font-size: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #000;/*文字色*/
}

.goto_quest:hover {
    border-left: solid 25px #8d0090;
    transition: border-left 1.3s;
    font-weight: bold;
}

.keyword{
    margin: auto;
    background: #fff;
    display: block;
    width: 40%;
    height: 30px;
    padding: 8px 50px 8px 8px;
    border-radius: 4px;
    box-sizing: border-box;
}

.button_style {
    margin: auto;
    width: 60%;
    padding: 40px;
    border-radius: 7px;
}

#button1 {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    box-shadow: 5px 5px 3px #999;
    cursor: pointer;
}

#button1:active {
    background-color: #ddd;
    box-shadow: 3px 3px 2px #999;
}



.mini_title {
    padding: 0.10em 0.5em;/*上下 左右の余白*/
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.mini_contents {
    text-align: center;
}

.value_top {
    font-size: 18px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.value_top_total {
    font-size: 30px;
    font-weight: bold;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #da002f;
}